# Database Configuration
POSTGRES_DB=karaoke
POSTGRES_USER=karaoke
POSTGRES_PASSWORD=karaoke
DB_PATH=/var/lib/postgresql/data

# API Server Configuration
DATABASE_URL=postgres://karaoke:karaoke@db:5432/karaoke
ADMIN_TOKEN=changeme-admin
# Change admin username & password
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme-password
# Default path & api port. (Should leave alone)
MEDIA_ROOT=/media
PORT=5174

# Media Path (Host directory to mount)
# This is the path on your host machine where your karaoke files are stored
# Examples: ./media/local, /mnt/karaoke, /path/to/your/media
MEDIA_PATH=/mnt/media/

# Web Application URLs
# Set this to your server's FQDN or IP address for QR code generation
# Examples: http://192.168.1.100:5173, http://karaoke.example.com
WEB_APP_URL=http://localhost:5173

# CORS Origins (comma-separated list)
# Should include all URLs where the web frontend will be accessed from
# http://karaoke.example.com, http://api.karaoke.example.com
ORIGIN=http://localhost:5173,http://127.0.0.1:5173

# API Base URL for Web Frontend
# The web application will use this to connect to the API server
# http://192.168.1.100:5174, http://api.karaoke.example.com
VITE_API_BASE=http://localhost.5174
