src/server/node_modules/
src/web/node_modules/
dev/build-and-publish.sh
dev/redeploy-webkaraoke.sh
dev/test/
build-and-publish.sh
redeploy-webkaraoke.sh
src/web/dist/assets/
db/
aio/.env
dev/my-karaokedock.xml
dev/To do
dev/Screenshot_20260620-143255.png
dev/install-dockerless.sh
